@model SolveExamVM

<h2>@Model.ExamTitle</h2>
<p>Duration: @Model.DurationInMinutes minutes</p>
<div id="timer" style="font-size:20px; font-weight:bold; color:red;">
    Time Left: <span id="time"></span>
</div>

<form asp-action="SubmitExam" method="post">
   
    <input type="hidden" name="ExamId" value="@Model.ExamId" />
    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div>
            <p>@(i + 1). @Model.Questions[i].Body</p>

            @if (Model.Questions[i].Type == "MCQ")
            {
                foreach (var choice in Model.Questions[i].Choices!)
                {
                    <label>
                        <input type="radio"
                               name="Answers[@Model.Questions[i].QuestionId]"
                               value="@choice.ChoiceId" />
                        @choice.Body
                    </label>
        
                    <br />
                }
            }
            else
            {
                <label>
                    <input type="radio"
                           name="Answers[@Model.Questions[i].QuestionId]"
                           value="true" /> True
                </label>
                <label>
                    <input type="radio"
                           name="Answers[@Model.Questions[i].QuestionId]"
                           value="false" /> False
                </label>
            }
        </div>
    }
    <button type="submit">Submit</button>
</form>
<script>
    let duration = @Model.DurationInMinutes * 60; // seconds
    let timerDisplay = document.getElementById("time");

    let interval = setInterval(function () {
        let minutes = Math.floor(duration / 60);
        let seconds = duration % 60;

        timerDisplay.textContent =
            minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

        duration--;

        if (duration < 0) {
            clearInterval(interval);
            alert("Time is up! Exam will be submitted automatically.");
            document.forms[0].submit();
        }
    }, 1000);
</script>
